.DS_Store
node_modules/
dist/
!saksi_frontend/dist/
!saksi_frontend/dist/**
bin/
.env
*.log
.dart_tool/
build/

# Ignore markdown files and rradmin
*.md
!README.md
!**/README.md
!readme.md
!**/readme.md
rradmin
